<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.episode_type.label(class='col-form-label') }}<br/>
        {{ form.episode_type(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.date.label(class='col-form-label') }}<br/>
        {{ form.date(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.patient_id.label(class='col-form-label') }}<br/>
        {{ form.patient_id(class='form-control',disabled=true) }}
    </div>
    <div class="form-group">
        {{ form.hospital_id.label(class='col-form-label') }}<br/>
        {{ form.hospital_id(class='form-control') }}
    </div>
    <div>
        <label class="col-form-label">Attendees</label><br/>
        {% if episode.attendees %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Comments</th>
            </tr>
            </thead>
            <tbody>
            {% for a in episode.attendees %}
            <tr>
                <td>{{ a.user.name }}</td>
                <td>{{ a.comments }}</td>
            </tr>
            {% endfor %}
            <tbody>
        </table>
        {% else %}
        <input class="form-control" type="text" placeholder="" readonly>
        {% endif %}
    </div>
    <p>
        {{ form.surgery_id.label(class='col-form-label') }}<hr/>
        {% if episode.surgery %}
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Cepod</td>
                <td>{{ episode.surgery.cepod.name }}</td>
            </tr>
            <tr>
                <td>Date of discharge</td>
                <td>{{ episode.surgery.date_of_discharge }}</td>
            </tr>
            <tr>
                <td>Procedure</td>
                <td>{{ episode.surgery.procedure.name }}</td>
            </tr>
            <tr>
                <td>Side</td>
                <td>{{ episode.surgery.side.name }}</td>
            </tr>
            <tr>
                <td>Primary</td>
                <td>{{ episode.surgery.primary }}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{ episode.surgery.type.name }}</td>
            </tr>
            <tr>
                <td>Additional Procedure</td>
                <td>{{ episode.surgery.additional_procedure }}</td>
            </tr>

            <tr>
                <td>Antibiotics</td>
                <td>{{ episode.surgery.antibiotics }}</td>
            </tr>
            <tr>
                <td>RV Date</td>
                <td>{{ episode.surgery.opd_rv_date }}</td>
            </tr>
            <tr>
                <td>OPD Pain</td>
                <td>{{ episode.surgery.opd_pain }}</td>
            </tr>
            <tr>
                <td>OPD Numbness</td>
                <td>{{ episode.surgery.opd_numbness }}</td>
            </tr>
            <tr>
                <td>OPD Infection</td>
                <td>{{ episode.surgery.opd_infection }}</td>
            </tr>
            <tr>
                <td>OPD Comments</td>
                <td>{{ episode.surgery.opd_comments }}</td>
            </tr>
            <tr>
                <td>General Comments</td>
                <td>{{ episode.surgery.comments }}</td>
            </tr>
            <tbody>
        </table>
        {% else %}
        <input class="form-control" type="text" placeholder="" readonly>
        {% endif %}
        {{ form.surgery_id(class='form-control') }}
    </p>
    <div>
        <label class="col-form-label">Complications</label><br/>
        {% if episode.complications %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Comments</th>
            </tr>
            </thead>
            <tbody>
            {% for c in episode.complications %}
            <tr>
                <td>{{ c.date }}</td>
                <td>{{ c.comments }}</td>
            </tr>
            {% endfor %}
            <tbody>
        </table>
        {% else %}
        <input class="form-control" type="text" placeholder="" readonly>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.comments.label(class='col-form-label') }}<br/>
        {{ form.comments(class='form-control') }}
    </div>
    <p>{{ form.submit(class='btn btn-primary') }}
        <a href="{{ url_for('patient_search') }}" class="btn btn-secondary">Cancel</a>
    </p>
</form>