<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.episode_type.label(class='col-form-label') }}<br/>
        <input class="form-control" type="text" placeholder="{{ episode.episode_type.name }}" readonly>
        {{ form.episode_type(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.date.label(class='col-form-label') }}<br/>
        {{ form.date(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.patient_id.label(class='col-form-label') }}<br/>
        <input class="form-control" type="text" placeholder="{{ episode.patient.name }}" readonly>
        {{ form.patient_id(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.hospital_id.label(class='col-form-label') }}<br/>
        <input class="form-control" type="text" placeholder="{{ episode.hospital.name }}" readonly>
        {{ form.hospital_id(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.surgery_id.label(class='col-form-label') }}<br/>
        <input class="form-control" type="text" placeholder="{{ episode.surgery.procedure.name }}" readonly>
        {{ form.surgery_id(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.comments.label(class='col-form-label') }}<br/>
        {{ form.comments(class='form-control') }}
    </div>
    <p>{{ form.submit(class='btn btn-primary') }}
    <a href="{{ url_for('patient_search') }}" class="btn btn-secondary">Cancel</a>
    </p>
</form>