{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron" style="background-color:#f5f5f5">
        <h1 class="display-4">Welcome to thmr!</h1>
        <p class="lead">The Tanzania Mesh Hernia Repair Registry</p>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Patients</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><a class="btn btn-lg btn-block btn-outline-primary" href="{{ url_for('patient_create') }}">Register
                        a new Patient</a></li>
                    <li><br/></li>
                    <li><a class="btn btn-lg btn-block btn-outline-primary" href="{{ url_for('patient_search') }}">Find
                        an existing Patient</a></li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Episodes</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><a class="btn btn-lg btn-block btn-outline-primary" href="{{ url_for('episode_create') }}">Record
                        an new Episode</a>
                    <li><br/></li>
                    <li><a class="btn btn-lg btn-block btn-outline-primary" href="{{ url_for('episode_search') }}">Find
                        an existing Episode</a>
                </ul>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Reports</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>
                        <a class="btn btn-lg btn-block btn-outline-primary" href="{{ url_for('reports') }}">Patient Reports</a>
                    </li>
                    <li><br/></li>
                    <li>
                        <a class="btn btn-lg btn-block btn-outline-primary" href="{{ url_for('reports') }}">Episode Reports</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
