{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
            <form method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label(class='col-form-label') }}<br/>
                    {{ form.username(class='form-control',autofocus=true,required=true) }}
                    {% for error in form.username.errors %}
                    <div class="alert alert-danger" role="alert">
                        [{{ error }}]
                    </div>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label(class='col-form-label') }}<br/>
                    {{ form.password(class='form-control',required=true) }}
                    {% for error in form.username.errors %}
                    <div class="alert alert-danger" role="alert">
                        [{{ error }}]
                    </div>
                    {% endfor %}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit(class='btn btn-lg btn-primary btn-block') }}</p>
            </form>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
{% endblock %}