<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{{ url_for('index') }}">Tanzania Mesh Hernia Repair Registry</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('patient_create') }}">Register a Patient</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('patient_search') }}">Find a Patient</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('episode_create') }}">Record an Episode</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('episode_search') }}">Find an Episode</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('reports') }}">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
        <span class="navbar-text">
      {% if current_user and current_user.is_authenticated %}
      Logged in as {{ current_user.name }}.
      {% else %}
      Not logged in.
      {% endif %}
    </span>
    </div>
</nav>