{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}Patient{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg">
            <h1>Find a Patient</h1>
            <hr/>
            {% include 'forms/patient_form.html' %}
            {% if results %}
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <h2>Search Results</h2>
            <div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in results %}
                    <tr>
                        <td><a href="{{ url_for('patient', id=result.id) }}">{{ result.name }}</a></td>
                        <td>{{ result.email }}</a></td>
                        <td>{{ result.gender }}</td>
                        <td>{{ result.phone }}</td>
                        <td>{{ result.address }}</td>
                    </tr>
                    {% endfor %}
                    <tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
document.addEventListener("DOMContentLoaded", function(event) {
    $('#spinner').hide();

    $.get("{{ url_for('typeahead_patients') }}", function(json_data){
        $("#name").typeahead({
            data: json_data,
            hint: true,
            highlight: true, /* Enable substring highlighting */
            minLength: 1
         });
    },'json');
});
</script>
{% endblock %}