{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">

<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
<script src="/static/grid.js"></script>
{% endblock %}
{% block title %}Registry Editor{% endblock %}
{% block body %}
<div>
    <h1>Registry</h1>
    <div id="entityPicker">
        <select id="entitySelect" onchange="gridLoadData(false)">
            <option value="User">Users</option>
            <option value="Patient">Patients</option>
            <option value="Hospital">Hospitals</option>
            <option value="Operation">Operations</option>
            <option value="Surgery">Surgeries</option>
        </select>
    </div>
    <div id="myGrid" style="height: 600px;width:500px;" class="ag-theme-balham"></div>
</div>
<script type="text/javascript" charset="utf-8">
    gridLoadData(true)
</script>
{% endblock %}
