{% extends "base.html" %}
{% block head %}
<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
<link href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css" rel="stylesheet">
<link href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css" rel="stylesheet">
{% endblock %}
{% block title %}Registry Editor{% endblock %}
{% block body %}
<script charset="utf-8" type="text/javascript">
function load_registry()
{
	data = []
	$.getJSON('/data/registry', function(d) {
		data = d
	});

	return data
}





</script>
<div>
    <h1>Registry</h1>
    <p class="lead">Tanzania Mesh Hernia Registry</p>
</div>
{% endblock %}
